{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Eskandar: The Website</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="card">
        <div class="front"><img src="https://media.licdn.com/dms/image/C4D03AQG4Ek7_n3pluQ/profile-displayphoto-shrink_200_200/0?e=1583971200&v=beta&t=VkYyaPD4YVpwppbqUbncqI0YqkMYZalAiuG9Tp8GrP0"></div>
        <div class="back">
            <div class="details">
                <h2>Sam Eskandar<br><span>Engineering Student</span></h2>
                <div class="social-icons" style="font-size: 24px;">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-file" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>