{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Eskandar: The Website</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <section style="font-family: 'Josefin Sans', sans-serif;">
        <img src="{% static 'images/profile_pic.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -135%); border-radius: 50%; border-top: 50%">
        <h1>Sam Eskandar</h1>
        <p>Engineering Student</p>
        <div class="social-icons" style="font-size: 36px;">
            <a href="https://www.linkedin.com/in/sameskandar/"><i class="fa fa-linkedin" aria-hidden="true" style="color: white;"></i></a>
            <a href="https://github.com/s6eskand"><i class="fa fa-github" aria-hidden="true" style="color: white;"></i></a>
            <a href="https://github.com/s6eskand/resume/blob/master/Sam%20Eskandar%20Resume.pdf"><i class="fa fa-file" aria-hidden="true" style="color: white;"></i></a>
        </div>
        <form class="box" action="{% url 'navigation' %}">
            <input type="submit" name="" value="More">
        </form>
    </section>

</body>
</html>