{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Eskandar: The Website</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/navstyle.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <section class="section1" style="font-family: 'Josefin Sans', sans-serif;">
        <div>
			<a href="{% url 'navigation' %}"><i class="fa fa-home" aria-hidden="true" style="color: white;"></i></a>
		</div>

        <div style="position: absolute; top: 10%;">
            <h2>Coming soon...</h2>
            <p>Whenever I can write :)</p>
        </div>
    </section>

</body>
</html>