{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Eskandar: The Website</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static css/navstyle.css %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <section>
        <div>
			<a href="{% url 'projects' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
			<a href="https://coollistings.herokuapp.com"><i class="fa fa-laptop-code" aria-hidden="true" style="position: absolute; top: 0%; left: 150%;"></i></a>
		</div>

        <div class="container">
            <h1>CoolListings: a Craigslist Clone</h1>
            <img src="claw_machine.jpg" style="width: 400px; height: 350px; position: absolute; top: 10%; left: 101%">

            <blockquote style="border-left: 5px solid #1AEFC6;">
                My first project using django (safe from the tutorial) and experimenting with web-scraping.
				<br>

                Python library, BeautifulSoup was used to take queried listing title, cost, and image from Craigslist.
            </blockquote>
        </div>
    </section>

</body>
</html>