{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Eskandar: The Website</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/navstyle.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<section>
		<ul>
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'projects' %}">Projects</a></li>
			<li><a href="{% url 'blog' %}">Blog</a></li>
			<li><a href="{% url 'contact' %}">Contact Me</a></li>
		</ul>
	</section>

</body>
</html>